<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="average.laaptu.databinding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".messaging.MessagingActivity"/>
        <activity android:name=".messagingeff.MessagingActivityEff"/>
        <activity android:name=".bindingadapter.SimpleBindingActivity" />
        <activity android:name=".inflating.InflatingActivity" />
        <activity
            android:name=".simpleobservable.SimpleObservableActivity"
            android:label="@string/title_activity_simple_observable" />
        <activity
            android:name=".simpledynamic.SimpleDynamicActivity"
            android:label="@string/title_activity_simple_dynamic" />
        <activity android:name=".simple.SimpleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>